/* Login.css */

/* Container */
.container {
  padding-top: 50px;
}

/* Card Styling */
.card {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

Form styling
.form-control {
  margin-bottom: 15px;
}



/* Link to sign up page */
.nav-link {
  text-align: center;
  margin-top: 20px;
  color: #007bff;
}

.nav-link:hover {
  color: #0056b3;
}